.logo{
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.hamburger{
    margin-right: 10px;
}

.nav-item{
    margin-left: 20px;
}

.login-button{
flex: right;
}

.signup-button{
    flex: right;
}

.nav-item-link {
    text-decoration: none;
    color: rgba(255,255,255,.55);
}

.nav-item {
    padding: 20px 5px;
}

.nav-item.active {

}