@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.logo{
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.hamburger{
    margin-right: 10px;
}

.nav-item{
    margin-left: 20px;
    /*cursor: default;*/
}


.nav-item-link {
    text-decoration: none;
    color: rgba(255,255,255,.55);
}

.nav-item {
    padding: 20px 5px;
}

/*.nav-item.active {*/
/*    cursor: default;*/
/*}*/

.navbar-brand{
    font-family: 'Indie Flower', cursive;
    vertical-align:middle;
    margin-top: 5px;
    /*background-color: #e36414;*/
    font-weight: bold;
    /*padding: 6px;*/
    color: #e36414;
}

#username{
    color: #e36414 ;
}



