@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.logo{
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.hamburger{
    margin-right: 10px;
}

.nav-item{
    margin-left: 20px;
}

/*.login-button{*/
/*flex: right;*/
/*}*/

/*.signup-button{*/
/*    flex: right;*/
/*}*/

.nav-item-link {
    text-decoration: none;
    color: rgba(255,255,255,.55);
}

.nav-item {
    padding: 20px 5px;

}

.nav-item.active {

}

.navbar-brand{
    font-family: 'Indie Flower', cursive;
    vertical-align:middle;
    margin-top: 5px;
    /*background-color: #e36414;*/
    font-weight: bold;
    /*padding: 6px;*/
    color: #e36414;

}

/*#username{*/
/*    color: #e36414 ;*/
/*}*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');
/*body {*/
/*    background-color: #111;*/
/*}*/

.title {
    font-family: "Montserrat";
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*height: 100vh;*/
    letter-spacing: 1px;
}

.username {
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    /*-moz-background-clip: text;*/
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    line-height: .75;
    margin: 10px 0;
}

.username:hover{
    color: #e36414;
}


