
.login-form{
  /*padding-top: 20px;*/
  margin-top: 20px;
}

.login-username{
  margin-top: 10px;
  border-radius: 3px;
  border-color: #31d2f2;
}

.login-password{
  margin-top: 10px;
  border-radius: 3px;
  border-color: #31d2f2;
}

.login-button{
  margin: 15px !important;
  border-radius: 3px;
}


.login-instruction{
  color: #3c096c;
  margin: 5px;
}

.login-title{
  color: #3c096c;
  font-size: 26px;
}